* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 16px;
    background-color: lightskyblue;
}

header, .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 10px;
}

header button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

header h1 button {
    font-size: 24px;;
}


.main-content {
    height: auto;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
}

.text {
    height: 467px;
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid transparent;
}

.tools {
    float: right;
    font-size: 40px;
    margin: 20px;
}

.tools span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

#share {
    background-image: url('share.png');
}

#title {
    position: absolute;
    font-size: 40px;
    font-weight: 300;
    top: 150px;
    color: #555;
    text-align: center;
    line-height: 2px;
}

#time {
    position: relative;
    width: 573px;
    height: 145px;
    left: 252px;
    top: 118px;
}

#lbl-noon {
    position: relative;
    top: -6%;
    font-size: 48px;
    color: #555;
}

#lbl-time {
    font-size: 120px;
    color: #555;
}

#date {
    position: absolute;
    font-size: 36px;
    top: 330px;
    color: #555;
    text-align: center;
}